.first-container{
    padding: 50px;
     margin-top: -50px;
    padding-bottom: 80px;
    background-image: url("/Assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    background-color: #4e47ff;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}
.logo{
     color: #4e47ff;
    font-size: xx-large;
}
.down {
    
    text-align: center;
    margin-top: 100px;
}
.title-1 {
    font-size: 40px;
}
